.container-logado {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 1rem;
  height: 100%;
  min-height: 80vh;
  align-items: end;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.container-logado p {
  padding: 10px;
  cursor: pointer;
  margin: 0;
}

.item-logado {
  background-color: #edf8fd;
  border: solid 1px #b5e1f8;
  border-radius: 10px;
  transform: scale(0.9);
  transition: all ease 0.3s;
}

.item-logado:hover {
  transform: scale(1);
}

.botao-container {
  position: fixed;
  bottom: 20px;
  right: 85%;
}

.botao {
  width: 80px;
  height: 80px;
  background-color: #f72585;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 28px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.botao:hover {
  background-color: rgba(247, 37, 133, 0.9);
}
