.container-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 7px;
  padding: 40px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  gap: 5px;
  transition: all ease 2s;
  width: 90%;
  max-width: 450px;
}

.form-cadastro input {
  padding: 13px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  margin-top: 4px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;

}

.form-cadastro select {
  padding: 13px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
  background-color: #fff;
  width: 90%;
  height: 50px;
  width: 100%;
}

.cadastro-btn {
  background-color: #f72585;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  transition: all linear 160ms;
  cursor: pointer;
  height: 50px;
  border-radius: 4px;
}

.cadastro-btn:hover {
  background-color: rgba(247, 37, 133, 0.9);
}

.container-botao input {
  width: 100%;
}

.container-botao {
  width: 96%;
}
